{% extends 'base.html.twig' %}

{% block title %}Sudoku{% endblock %}

{% block body %}


    <div class="flex flex-row items-center justify-center h-screen w-full">

            <a class="px-10 py-5 mx-4 border border-2 border-gray-800 rounded-full text-4xl bg-white hover:bg-blue-200"
               href="{{ path('new_game') }}">Nouvelle partie</a>
            <a class="px-10 py-5 mx-4 border border-2 border-gray-800 rounded-full text-4xl bg-white hover:bg-blue-200"
               href="{{ path('play') }}">Charger la partie précédente</a>
    </div>

{% endblock %}
